.contenedor-cita-spa{    
    margin-top: 40px;
    width: 850px;
    background-color: #8C7D77;
    padding: 50px;
    border-radius: 20px;
    color: white;
    opacity: 0.9;
}

.citaspa-container{
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    background-image: url('./cafe.jpg');
}